html, body, #root {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #e3d0e0;
  background-color: rgb(33, 37, 41);
  /* font-family: 'Great Vibes', cursive; */
  /* font-family: 'Henny Penny', cursive; */
  /* font-family: 'Quintessential', cursive; */
  height: 100%;
  width: 100%;
  max-width: ;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* header styles */
h1 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Great Vibes', cursive;
}

.text-icon {
  color: rgb(33, 37, 41);
  font-family: 'Henny Penny', cursive;

}

nav {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(231, 202, 167);
}

div.navbar-nav {
  flex-direction: row;
  max-height: 50px;
}

div.nav-item {
  margin: 5px;
  max-height: 50px;
  font-family: 'Quintessential', cursive;
}

a.nav-link {
  max-height: 50px;
  font-size: 16px;
}

span.navbar-brand {
  display: flex;
}

nav {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(231, 202, 167);
}

/* main styles */
main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: 'Great Vibes', cursive;
}

label {
  font-family: 'Quintessential', cursive;
}

input.location-input {
  margin: 5px;
  border-radius: 5px;
  font-family: 'Quintessential', cursive;
}

/* .search-bar {
  max-width: 900px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
} */

/* .location-input {
  margin-bottom: 5px;
} */

/* img styles */
img.about-pic {
  width: 300px;
  height: 300px;
  align-self: center;
}

img.gemsy-logo {
  width: 40px;
  height: 40px;
}

.restaurant-img {
  width: 300px;
  height: 300px;
  align-self: center;
}

.event-img {
  width: 300px;
  height: 300px;
  align-self: center;
}

button {
  background-color: rgb(33, 37, 41);
  color: #e3d0e0;
}

.login-btn,
.search-btn {
  align-items: center;
  border: 0;
  border-radius: 8px;  
  box-sizing: border-box;
  border-color: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  color: #FFFFFF;
  font-family: 'Quintessential', cursive;  
  font-size: 15px;
  line-height: 1em;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.login-btn:hover,
.search-btn:hover {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

/* profile styles */
div#team {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 10px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
}

div.card ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* a:hover {
  background-color: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
} */
